html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Redefinição de função de exibição para navegadores mais antigos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    cursor: pointer!important;
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

body{
    font-family: '', sans-serif;
    line-height: 1;
    font-size: 16px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.25rem;
}

h6{
   font-size: 1rem; 
}

/* outros tamanhos de fonts */
    /* font-size: 3.5rem;
    font-size: 4.5rem;
    font-size: 5.5rem;
    font-size: 6.5rem; */
/* outros tamanhos de fonts */

h1, h2, h3{
    margin-bottom: 20px;
}

h4{
    margin-bottom: 10px;
}

h5, h6{
    margin-bottom: 0px;
}

ol, ul {
	list-style: none;
}

p{
    line-height: 1.7;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Garante que o preenchimento não afete a largura final de um elemento
Essa linha de código arruma alguns problemas com busca personalizada do google e google maps
Com o código abaixo os elementos gerado pelo ::before e ::after herdarão o snippet abaixo. */
.selector-for-some-widget {
  box-sizing: content-box;
}