<template>
  <div id="home">
    <h1></h1>
    
  </div>
</template>

<script>
export default {
  name: 'home',
  props: ['id'],
  data() {
    return {
      data: {}
    }
  },
  methods: {
    pageData() {
      return this.$http.get('pages/7').then( res => {
        console.log(res.data);
      })
    }
  },
  created() {
    this.pageData();
  }
}
</script>

<style lang="scss" scoped>
  #home {
    
  }
</style>
