<template>
  <div id="app">
    <Menu />
    <router-view/>
  </div>
</template>

<script>
  import "./style/main.scss";
  import Menu from "./components/Menu";

  export default {
    data() {
        return {
          
        }
    },
    methods: {
      
    },
    created() {
      
    },
    components: {
      Menu
    }
  }
</script>

