<template>
    <div class="banner">
        <div class="banner__img">
            <img src="" alt="">
        </div>
        <div class="banner__text">
            <h2></h2>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Banner',
        props: {
            
        }
    }
</script>

<style lang="sass" scoped>
    .banner {

    }
</style>
