<template>
    <div id="header">
        <header>
            <div class="logo">
                <router-link to="/">
                    <img src="../assets/logo.png" alt="Logo Jonatas Lopes">
                </router-link>
            </div>            
            <div id="hamburguer">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav id="nav">
                <ul>
                    <router-link to="/" tag="li" active-class="active" exact><a>Início</a></router-link>
                    <router-link to="/sobre" tag="li" active-class="active"><a>Sobre</a></router-link>
                    <router-link to="/portfolio" tag="li" active-class="active"><a>Portfólio</a></router-link>
                </ul>
            </nav>
        </header>
    </div>
</template>

<script>
    export default {
        name: 'Menu',
        methods: {
            openMenu() {
                if(window.innerWidth < 992) {
                    const buttonMenu = document.querySelector("#hamburguer");
                    const menu = document.querySelector("#nav");
                    const location = document.querySelectorAll("#nav a");
                    let isOpen = false;
    
                    buttonMenu.addEventListener("click", () => {
                        isOpen = !isOpen;
                        if(isOpen) {
                            menu.classList.add("open");
                            buttonMenu.classList.add("close");
                        } else {
                            menu.classList.remove("open");
                            buttonMenu.classList.remove("close");
                        }
                    });
    
                    location.forEach(el => {
                        el.addEventListener("click", () => {
                            menu.classList.remove("open");
                            buttonMenu.classList.remove("close");
                        });
                    });
                }
            }
        },
        mounted() {
            this.openMenu();
        }
    }
</script>

<style lang="scss" scoped>
    #header {
        header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            height: 80px;
            position: relative;
            border-bottom: 1px solid #f7f5f5;
            
            .logo {
                img {
                    height: 80px;
                }
            }

            #hamburguer {
                width: 30px;
                height: 30px;
                position: fixed;
                top: 30px;
                right: 15px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                span {
                    background-color: #b24bdb;
                    height: 1px;
                    width: 30px;
                    transition: all .4s ease-in-out; 
                }

                &.close {
                    span:nth-child(1) {
                        transform: rotate(45deg);
                        position: absolute;
                        top: 7px;
                    }
                    span:nth-child(2) {
                        transform: rotate(-45deg);
                    }
                    span:nth-child(3) {
                        opacity: 0;
                    }
                }
            }

            #nav {
                display: flex;
                flex-direction: column;
                height: 100vh;
                width: 100vw;
                position: fixed;
                top: 0;
                right: -150vw;
                background: #FFF;
                padding: 80px 0 0;
                text-align: right;
                transition: all .4s ease-in-out;
                align-items: center;

                &.open {
                    right: 0;
                }

                ul {
                    li {
                        margin-bottom: 25px;
                        text-align: center;
                        a {
                            font-size: 1.7rem;
                            color: #c6c3c7;
                        }
                        &.active {
                            a{
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }

    }
</style>